nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
  background: yellow;
  color: black;
}
a {
  width: 50%;
  text-align: center;
  word-spacing: 2px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
h1 {
  width: 100%;
  font-size: 5rem;
  padding-top: 10px;
  text-align: center;
  background: yellow;
}
footer {
  color: black;
  background: yellow;
  padding: 20px;
  border: 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
