nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  color: black;
}
@media (max-width: 500px) {
  nav {
    font-size: 1.6rem;
    width: 100%;
    font-size: 4.5rem;
  }
}
a {
  width: 50%;
  text-align: center;
  word-spacing: 2px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
h1 {
  width: 100%;
  font-size: 5rem;
  padding-top: 10px;
  text-align: center;
  background: yellow;
}
footer {
  color: black;
  background: yellow;
  padding: 15px;
  border: 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
h2 {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
}
h3 {
  font-size: 2rem;
  text-decoration: underline;
}
p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding: 0 1%;
  padding-bottom: 20px;
  border: 2px solid #4CAF50;
  border-radius: 95%;
}
.info p {
  width: 42%;
}
@media (max-width: 500px) {
  .info {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
  }
}
.btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .btn {
    display: none;
  }
}
button {
  background-color: yellow;
  border: 2px solid #4CAF50;
  float: left;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
@media (max-width: 500px) {
  button {
    display: none;
  }
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.Carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (max-width: 500px) {
  .Carousel {
    max-width: 400px;
  }
}
.Carousel .leftbtn,
.Carousel .rightbtn {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: yellow;
  background-color: green;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.Carousel .leftbtn:hover,
.Carousel .rightbtn:hover {
  color: yellow;
  background-color: green;
  border: 2px solid yellowgreen;
}
.Carousel .leftbtn {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.Carousel .rightbtn {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.Carousel .img {
  width: 100%;
  display: none;
}
.width-100 {
  width: 100%;
}
