nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  color: black;
}
@media (max-width: 500px) {
  nav {
    font-size: 1.6rem;
    width: 100%;
    font-size: 4.5rem;
  }
}
a {
  width: 50%;
  text-align: center;
  word-spacing: 2px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
h1 {
  width: 100%;
  font-size: 5rem;
  padding-top: 10px;
  text-align: center;
  background: yellow;
}
footer {
  color: black;
  background: yellow;
  padding: 20px;
  border: 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  padding: 0 1%;
  padding-bottom: 20px;
  border-bottom: 1px dotted gray;
}
